# Dependencies
node_modules
.pnp
.pnp.js

# Build outputs
dist
build
.next
out

# Turbo
.turbo

# Rust / Soroban
target
Cargo.lock

# Env
.env
.env.local
.env.*.local

# OS
.DS_Store
*.pem

# Logs
*.log
npm-debug.log*

# React Native
.expo
android/
ios/
*.jks
*.keystore
